[submodule "libs/string"]
	path = libs/string
	url = git@github.com:AgapeToolkit/agape-string.git
[submodule "libs/types"]
	path = libs/types
	url = git@github.com:AgapeToolkit/agape-types.git
[submodule "libs/metadata"]
	path = libs/metadata
	url = git@github.com:AgapeToolkit/agape-metadata.git
[submodule "libs/locale"]
	path = libs/locale
	url = git@github.com:AgapeToolkit/agape-locale.git
[submodule "libs/util"]
	path = libs/util
	url = git@github.com:AgapeToolkit/agape-util.git
